<%- include('/partials/head') %>

<%- include("/partials/title", { data: "About" }) %>

<p>
    This site is a static html site rendered out of yaml files in the <a href="https://open-recipe-format.readthedocs.io/">open recipe format</a>.
</p>

<%- include('/partials/foot') %>