<%- include('/partials/head', { hideBack: true }) %>

<%- include("/partials/title", { data: "Jeroen's recipe book" }) %>

<input id="search" type="text" placeholder="Search">

<ul id="recipes">
  <% for (const { slug, recipe } of recipes) { %>
    <li data-recipeName="<%= recipe.recipe_name %>">
      <a href="<%=getRecipeUrl(slug)%>/"><%= recipe.recipe_name %></a>
    </li>
  <% } %>
</ul>

<%- include('/partials/foot') %>