<%- include('/partials/head') %>

<h1><%= recipe.recipe_name %></h1>

<%- include('/partials/ingredients', {
  ingredients: recipe.ingredients,
  yields: recipe.yields
}) %>

<%- include('/partials/steps', { steps: recipe.steps }) %>

<section id="metaRecipe">
  <div>Open recipe format yaml: <a href="recipe.yml">Click here</a></div>
  
  <% if (recipe.source_url !== undefined) { %>
  <div>
    Original recipe:
    <a href="<%= recipe.source_url %>">Click here</a>
  </div>
  <% } %>
</section>

<%- include('/partials/foot') %>