    </main>
    
    <footer>
      Made by <a href="https://jeroenpelgrims.com">Jeroen Pelgrims</a> &mdash;
      <a href="https://gitlab.com/jeroenpelgrims/recipes">Source</a> &mdash;
      <a href="/about">About</a>
    </footer>

    <script src="/scripts.js"></script> 
  </body>
</html>