<!DOCTYPE html>
<html>
  <head>
    <title>Jeroen's recipe book</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <script async defer data-website-id="92c0b3af-25d0-4e30-9809-f30ec09c3dbd" src="https://umami.jeroenpelgrims.com/umami.js"></script>
  </head>
  <body>
    <% if (!locals.hideBack) { %>
      <a id="back" href="/">Back to overview</a>
    <% } %>

    <main>