<%
  let servingsText = undefined;
  let servingsAmount = undefined;

  if (yields) {
    const servingsKeys = Object.keys(yields[0]);
    servingsText = servingsKeys[0];
    servingsAmount = yields[0][servingsText];
  }
%>

<h2>
  Ingredients
  <% if (servingsText) { %>
    <span id="servings">
      (<input type="number" value="<%= servingsAmount %>" step="any" data-default="<%= servingsAmount %>"> <%= servingsText %>)
    </span>
  <% } %>
</h2>

<ul id="ingredients">
  <%
    for (const ingredient of ingredients) {
      const name = Object.keys(ingredient)[0];

      if (ingredient[name]) {
        const { amounts, substitutions, processing } = ingredient[name];
        %>
          <li>
            <% if (amounts && amounts.length > 0) {  %>
              <span class="amount">
                <span class="value" data-default="<%= amounts[0].amount %>"><%= amounts[0].amount %></span>
                <%= amounts[0].unit %>
              </span>
            <% } %>

            <%= name %>

            <% if (processing) { %>
              (<%= processing.join(', ') %>)
            <% } %>
          </li>
        <%
      } else {
        %>
          <li><%= name %></li>
        <%
      }
    }
  %>
</ul>