{% extends "base.html" %}

{% block title %}{{ recipe.recipe_name }}{% endblock %}

{% block content %}
    <h1>{{ recipe.recipe_name }}</h1>

    {% if let Some(image) = recipe.image() %}
    <img id="recipe-image" src="{{ image }}" alt="{{ recipe.recipe_name }}">
    {% if let Some(attribution) = recipe.image_attribution() %}
    <div class="image-attribution">{{ attribution }}</div>
    {% endif %}
    {% endif %}

    {% include "ingredients.html" %}

    {% include "steps.html" %}

    {% if let Some(source_url) = recipe.source_url %}
    <section id="metaRecipe">
        <div>
            Original recipe:
            <a href="{{ source_url }}">Click here</a>
        </div>
    </section>
    {% endif %}
{% endblock %}
