/* Color scheme: https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "EB Garamond", serif;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  color: #3d405b;
  margin: 0;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }

  main {
    margin: 0 1em;
  }

  #ingredients li {
    width: 100%;
  }

  h1 {
    margin-top: 0.25em !important;
  }

  h2 {
    margin: 1em 0 0.5em 0 !important;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  margin: 1em auto 0 auto;
  font-size: 2.5em;
}

h2 {
  margin-top: 2em;
}

#search {
  font-family: "EB Garamond", serif;
  font-size: 1.5em;
  border: none;
  border-bottom: 1px solid #81b29a;
  margin-top: 2em;
  color: #3d405b;
}

#recipes {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  font-size: 1.5em;
}

#recipes li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 1em;
}

#recipes li.hidden {
  display: none;
}

#recipes li:before {
  content: "\1D197";
  vertical-align: middle;
  color: #ccc;
  display: inline-block;
  padding-top: 0.2em;
  margin-left: -1em;
  margin-right: 0.25em;
}

a {
  text-decoration: none;
  color: #81b29a;
}
a:visited {
  color: #81b29a;
}

ul#ingredients {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

#ingredients li {
  padding-left: 0;
  line-height: 1.5em;
  min-width: 50%;
}

.amount {
  display: inline-block;
  min-width: 4em;
}

#servings {
  font-size: 0.6em;
  margin-left: 2em;
  display: inline-block;
  background-color: #f4f1de;
  padding: 7px;
}

#servings input {
  width: 2.5em;
  font-family: "EB Garamond", serif;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1em;
}

ol#steps {
  padding-left: 1em;
}

ol#steps li {
  padding-left: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

ol#steps li.done {
  text-decoration: line-through;
  color: #888;
}

#back {
  float: left;
  font-size: 0.75em;
  margin: 0.5em;
}

footer {
  height: 3em;
  flex-shrink: 0;
  margin: auto;
  line-height: 3em;
}

#metaRecipe {
  font-size: 0.7em;
}
